<%- include ('./partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Step towards your financial freedom</title>
    <meta name="description" content="The app is intended to help users create and maintain a financial plan in order to track their income, expenses, and savings goals.">
    
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 50vh;
            margin: 100;
        }

        article {
            width: 80%;
            text-align: center;
            margin-top: 50px;
        }

        .menu {
            margin: 50px 0;
        }

        .hero {
            margin: 50px 0;
        }

        .container {
            margin: 40px 0;
        }

        .text-box {
            margin-bottom: 20px;
        }

        .footer {
            margin-top: auto;
            background-color: #f8f9fa;
            padding: 20px;
            width: 100%;
            text-align: center;
        }

        

        /* Add any additional styles as needed */
    </style>
</head>
<body>
    <article>
        

        <script type="application/ld+json">
            {
                "@type": "website",
                "headline": "A budget management app",
                "description": "The app is intended to help users create and maintain a financial plan in order to track their income, expenses, and savings goals.",
                "author": {
                    "@type": "Person",
                    "name": "Naga pranav gogineni"
                }
            }
        </script>

        <div class="menu">
            
        </div>

        <div class="hero">
            <h1>Personal Budget</h1>
            <h2>A personal-budget management app</h2>
        </div>

        <div id="main-content" class="container center">
            <div class="text-box">
                <h1>Stay on track</h1>
                <p>
                    Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!
                </p>
            </div>

            <div class="text-box">
                <h1>Alerts</h1>
                <p>
                    What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
                </p>
            </div>

            <div class="text-box">
                <h1>Results</h1>
                <p>
                    People who stick to a financial plan, budgeting every expense, get out of debt faster!
                    Also, they live happier lives... since they expend without guilt or fear...
                    because they know it is all good and accounted for.
                </p>
            </div>

            <div class="text-box">
                
               
            </div>
        </div>


    
    
</body>
</html>


<%- include ('./partials/footer.ejs') %>
