<%- include('../partials/header.ejs')%>
<div class="form-container">
    <h2>Sign Up</h2>

    <form action="/users" method="POST" class="signup-form">
        <div class="form-group">
            <label class="label" for="firstName">First Name:</label>
            <input class="input1" type="text" id="firstName" name="firstName" required>
        </div>

        <div class="form-group">
            <label class="label" for="lastName">Last Name:</label>
            <input class="input1" type="text" id="lastName" name="lastName" required>
        </div>

        <div class="form-group">
            <label class="label" for="email">Email Address:</label>
            <input class="input1" type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label class="label" for="password">Password:</label>
            <input class="input1" type="password" id="password" name="password" minlength="8" required>
        </div>

        <div class="form-group align-right">
            <button class="button" type="submit">Sign Up</button>
        </div>
    </form>
</div>
<%- include('../partials/footer.ejs')%>
